#current-page {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

#next-button {
    padding-left: 10px;
    padding-right: 10px;
}

#previous-button {
    padding-left: 10px;
    padding-right: 10px;
}

.pagination {
    margin-top: 20px;
}

body {
    margin-top: 20px !important;
}

#add-button {
    margin-bottom: 20px;
}

#page-size {
    width: 70px;
}